@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

.leaflet-container {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  position: relative; /* Ensure proper rendering */
}
